---
import Project from "./Project.astro";

interface Props {
    title: string;
    seeCode: string;
    seeProject: string;
    description1: string;
    title1: string;
    description2: string;
    title2: string;
}

const {
    title,
    description1,
    title1,
    description2,
    title2,
    seeCode,
    seeProject,
} = Astro.props;
---

<section
    id="portifolio"
    class="items-center gap-40 text-center flex flex-col mx-1/10 min-h-screen"
>
    <h2
        class="text-9xl md:leading-title tracking-tight max-sm:text-7xl mt-12.5 font-bold font-condensed leading-title"
    >
        {title}
    </h2>
    <div
        class="flex max-md:flex-col md:gap-20 gap-40 items-center justify-between w-full mb-40"
    >
        <Project
            title={title1}
            link1={{
                displayName: seeProject,
                url: "https://famous-tapioca-e544c4.netlify.app",
            }}
            link2={{
                displayName: seeCode,
                url: "https://github.com/g41a42/StockSimulator",
            }}
        >
            {description1}
        </Project>
        <Project
            title={title2}
            link1={{
                displayName: seeProject,
                url: "https://kaleidoscopic-basbousa-9cb81e.netlify.app",
            }}
        >
            {description2}
        </Project>
    </div>
</section>
