---
interface Props {
    title: string;
    text1: string;
    text2: string;
    text3: string;
    text4: string;
    text5: string;
}

const { title, text1, text2, text3, text4, text5 } = Astro.props;
---

<section class="px-1/10 py-32 min-h-screen" id="about-me">
    <h2 class="text-green text-[3.125em] font-condensed italic">
        {title}
    </h2>
    <p class="md:text-[40px] text-3xl text-light md:leading-tight py-4">
        {text1}
        <br />
        <br />
        {text2}
        <br />
        <br />
    </p>
    <p
        class="md:text-[40px] text-3xl font-extralight text-light md:leading-tight py-4"
    >
        {text3}
        <br />
        <br />
        {text4}
        <br />
        <br />
        {text5}
    </p>
</section>
